{"swagger":"2.0","info":{"title":"SLERP Core API","description":"An API that houses ERP data, allowing open development around institutional data.","contact":{"name":"Alex Markessinis","url":"https://github.com/SLERP-ERP/SLERP_Core","email":"markea@sage.edu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"1.0.0"},"host":"demo-slerp.sage.edu","basePath":"/api/v1","schemes":["https"],"consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"paths":{"/verify":{"post":{"tags":["Resource Verification","Mobile Phones","Emails"],"summary":"Verify Email or Mobile Phone.","description":"Verify the ownership of an external resource such as an email address or mobile phone. This is done by posting the verification token to the API.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"token","in":"formData","description":"The unique token sent to the external resource.","required":true,"type":"string"}],"responses":{"202":{"$ref":"#/responses/202_verified"},"404":{"$ref":"#/responses/404"}},"security":[]}},"/verify/{token}":{"get":{"tags":["Resource Verification","Mobile Phones","Emails"],"summary":"Verify Email or Mobile Phone.","description":"Verify the ownership of an external resource such as an email address or mobile phone. This is done by sending the verification token in the url with a GET request.","produces":["application/json"],"parameters":[{"name":"token","in":"path","description":"The unique token sent to the external resource.","required":true,"type":"string"}],"responses":{"202":{"$ref":"#/responses/202_verified"},"404":{"$ref":"#/responses/404"}},"security":[]}},"/auth":{"post":{"tags":["Authentication"],"summary":"Authenticate with API using Secret.","description":"Authenticate with the API by sending your API Secret and receive a JWT in response.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"secret","in":"formData","description":"The API consumers secret token.","required":true,"type":"string"}],"responses":{"200":{"description":"A list of accounts","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"token":{"description":"Login\n\nEndpoint for secret token to be posted. Returns a JWT.","type":"string"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}},"security":[]}},"/auth/login":{"post":{"tags":["Authentication"],"summary":"Authenticate with API using credentials.","description":"Authenticate with the API by sending your credentials and receive a JWT in response.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"email","in":"formData","description":"The API consumers email address.","required":true,"type":"string"},{"name":"password","in":"formData","description":"The API consumers password.","required":true,"type":"string"}],"responses":{"200":{"description":"A list of accounts","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"token":{"description":"Login\n\nEndpoint for credentials to be posted. Returns a JWT.","type":"string"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}},"security":[]}},"/auth/validate":{"get":{"tags":["Authentication"],"summary":"Verify authenticated session.","description":"Verifies the JWT token.","produces":["application/json"],"responses":{"202":{"description":"Token is valid.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"user":{"description":"The authenticated server.","type":"string"},"message":{"description":"A message from the server.","type":"string"},"status_code":{"description":"The response status code.","type":"number","format":"int32"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/accounts":{"post":{"tags":["Accounts"],"summary":"Create/Update/Restore account.","description":"Store account information. Creates, updates, restores, an account based on it's current status","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"identifier","in":"formData","required":true,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":true,"type":"string","description":"Unqiue username for account."},{"name":"name_prefix","in":"formData","required":false,"type":"string","description":"Optional name pefix."},{"name":"name_first","in":"formData","required":true,"type":"string","description":"The first name of the account owner."},{"name":"name_middle","in":"formData","required":false,"type":"string","description":"The middle name of the account owner."},{"name":"name_last","in":"formData","required":true,"type":"string","description":"The last name of the account owner."},{"name":"name_postifx","in":"formData","required":false,"type":"string","description":"Optional name postfix."},{"name":"name_phonetic","in":"formData","required":false,"type":"string","description":"Optional phonetic name."},{"name":"primary_duty_id","in":"formData","required":false,"type":"integer","description":"The primary duty ID for this account. This is required without `primary_duty_code`."},{"name":"primary_duty_code","in":"formData","required":false,"type":"string","description":"The primary duty Code for this account. This is required without `primary_duty_id`."},{"name":"ssn","in":"formData","required":false,"type":"string","description":"The last four digits of the account owner's social security number. This is only availble to API consumers who have classified permissions."},{"name":"password","in":"formData","required":false,"type":"string","description":"The inital password assigned to this account when it is created. This is only availble to API consumers who have classified permissions."},{"name":"should_propagate_password","in":"formData","required":false,"type":"boolean","description":"If this is set to true and a `password` paramater is supplied third party integrations such as Active Directory will use this password for the account within their systems."},{"name":"birth_date","in":"formData","required":false,"type":"string","description":"The acount owner's birth date in string format`(yyyy-mm-dd)`. This is only availble to API consumers who have classified permissions."}],"responses":{"201":{"description":"Account Created. The account information has been stored and the account was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAccount"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"get":{"tags":["Accounts"],"summary":"List accounts in a paginated format.","description":"Return a paginated list of accounts.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of accounts","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedAccount"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Accounts"],"summary":"Delete an account.","description":"Delete an account based on `id`, `identifier`, or `username`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Show an Account by ID","description":"Retrieve a specific account based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for account."}],"responses":{"200":{"description":"Account Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAccount"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/accounts/identifier/{identifier}":{"get":{"tags":["Accounts"],"summary":"Show an Account by Identifier","description":"Retrieve a specific account based on it's `identifier` value.","produces":["application/json"],"parameters":[{"name":"identifier","in":"path","required":true,"type":"string","description":"Unique identifier for account."}],"responses":{"200":{"description":"Account Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAccount"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/accounts/username/{username}":{"get":{"tags":["Accounts"],"summary":"Show an Account by Username","description":"Retrieve a specific account based on it's `username` value.","produces":["application/json"],"parameters":[{"name":"username","in":"path","required":true,"type":"string","description":"Unique username for account."}],"responses":{"200":{"description":"Account Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAccount"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/accounts/duty":{"post":{"tags":["Accounts"],"summary":"Assign Duty to Account.","description":"Assigns a duty to the specified account based on the `duty_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"duty_id","in":"formData","required":false,"type":"integer","description":"The duties' primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The duties' unique code. This is required without a `duty_id`."}],"responses":{"201":{"$ref":"#/responses/201_assigned"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Accounts"],"summary":"Detach Duty from Account.","description":"Detaches a duty from the specified account based on the `duty_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"duty_id","in":"formData","required":false,"type":"integer","description":"The duties' primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The duties' unique code. This is required without a `duty_id`."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/accounts/course":{"post":{"tags":["Accounts"],"summary":"Assign Course to Account.","description":"Assigns a course to the specified account based on the `course_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"course_id","in":"formData","required":false,"type":"integer","description":"The courses' primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The courses' unique code. This is required without a `course_id`."}],"responses":{"201":{"$ref":"#/responses/201_assigned"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Accounts"],"summary":"Detach Course from Account.","description":"Detaches a course from the specified account based on the `course_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"course_id","in":"formData","required":false,"type":"integer","description":"The courses' primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The courses' unique code. This is required without a `course_id`."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/accounts/department":{"post":{"tags":["Accounts"],"summary":"Assign Department to Account.","description":"Assigns a department to the specified account based on the `department_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"department_id","in":"formData","required":false,"type":"integer","description":"The departments's primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The departments's unique code. This is required without a `department_id`."}],"responses":{"201":{"$ref":"#/responses/201_assigned"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Accounts"],"summary":"Detach Department from Account.","description":"Detaches a department from the specified account based on the `department_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"department_id","in":"formData","required":false,"type":"integer","description":"The departments's primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The departments's unique code. This is required without a `department_id`."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/accounts/room":{"post":{"tags":["Accounts"],"summary":"Assign Room to Account.","description":"Assigns a room to the specified account based on the `room_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"room_id","in":"formData","required":false,"type":"integer","description":"The room's primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The room's unique code. This is required without a `room_id`."}],"responses":{"201":{"$ref":"#/responses/201_assigned"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Accounts"],"summary":"Detach Room from Account.","description":"Detaches a room from the specified account based on the `room_id` or `code`, one of those must be supplied. At least one of the following account attributes must be supplied; `identifer`, `account_id`, or `username`.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key for account."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier for account."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username for account."},{"name":"room_id","in":"formData","required":false,"type":"integer","description":"The room's primary key id. This is required without a `code`."},{"name":"code","in":"formData","required":false,"type":"string","description":"The room's unique code. This is required without a `room_id`."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/addresses":{"get":{"tags":["Addresses"],"summary":"List Addresses in a paginated format.","description":"Return a paginated list of addresses.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of addresses","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedAddress"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Addresses"],"summary":"Create Address.","description":"Stores an address. When storing an address you may supply any uniquely identifying information pretaining to an account (`account_id`, `identifier`, or `username`), but at least one of those parameters needs to be supplied.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key of address owner. This is required without the `identifier` or `username` parameters."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier string of the address owner. This is required without the `account_id` or `username` parameters."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username string of the address owner. This is required without the `account_id` or `identifier` parameters."},{"name":"addressee","in":"formData","required":true,"type":"string","description":"The name of the person to address at this address."},{"name":"organization","in":"formData","required":false,"type":"string","description":"The organization located at this address if any."},{"name":"line_1","in":"formData","required":true,"type":"string","description":"The first line in the address."},{"name":"line_2","in":"formData","required":false,"type":"string","description":"The second line in the address, if any."},{"name":"city","in":"formData","required":true,"type":"string","description":"The city that this address is located in."},{"name":"state_id","in":"formData","required":false,"type":"integer","description":"The primary key of the state that this address resides in. This is required without the `state_code` parameter."},{"name":"state_code","in":"formData","required":false,"type":"string","description":"The unique code of the state that this address resides in. This is required without the `state_id` parameter."},{"name":"zip","in":"formData","required":true,"type":"string","description":"The zip code that this address resides in."},{"name":"country_id","in":"formData","required":false,"type":"integer","description":"The primary key of the country that this address resides in. This is required without the `country_code` parameter."},{"name":"country_code","in":"formData","required":false,"type":"string","description":"The unique code of the country that this address resides in. This is required without the `country_id` parameter."},{"name":"latitude","in":"formData","required":false,"type":"number","format":"float","description":"A latitude value related to this addres."},{"name":"longitude","in":"formData","required":false,"type":"number","format":"float","description":"A longitude value related to this addres."}],"responses":{"201":{"description":"Address Created. The address information has been stored.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAddress"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Addresses"],"summary":"Delete an Address.","description":"Delete an address based on `id`.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":true,"type":"integer","description":"Unique primary key for address."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/addresses/{id}":{"get":{"tags":["Addresses"],"summary":"Show an Address by ID.","description":"Retrieve a specific address based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for address."}],"responses":{"200":{"description":"Address Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedAddress"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/buildings":{"get":{"tags":["Buildings"],"summary":"List Buildings in a paginated format.","description":"Return a paginated list of buildings.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of buildings","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedBuilding"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Buildings"],"summary":"Create/Update/Restore Building.","description":"Store building information. Creates, updates, restores, a building based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a building."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."},{"name":"campus_id","in":"formData","required":false,"type":"integer","description":"The id of the parant campus. This is required without a `campus_code`."},{"name":"campus_code","in":"formData","required":false,"type":"integer","description":"The code of the parant campus. This is required without a `campus_id`."}],"responses":{"201":{"description":"Building Created. The building information has been stored and the building was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedBuilding"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Buildings"],"summary":"Delete a building.","description":"Delete a building based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for building. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a building. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/buildings/{id}":{"get":{"tags":["Buildings"],"summary":"Show a Building by ID.","description":"Retrieve a specific building based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the building."}],"responses":{"200":{"description":"Building Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedBuilding"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/buildings/code/{code}":{"get":{"tags":["Buildings"],"summary":"Show a Building by Code.","description":"Retrieve a specific building based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the building."}],"responses":{"200":{"description":"Building Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedBuilding"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/campuses":{"get":{"tags":["Campuses"],"summary":"List campuses in a paginated format.","description":"Return a paginated list of campuses.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of campuses","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedCampus"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Campuses"],"summary":"Create/Update/Restore Campus.","description":"Store campus information. Creates, updates, restores, a campus based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a campus."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."}],"responses":{"201":{"description":"Campus Created. The campus information has been stored and the campus was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCampus"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Campuses"],"summary":"Delete a Campus.","description":"Delete a campus based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for campus. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a campus. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/campuses/{id}":{"get":{"tags":["Campuses"],"summary":"Show a Campus by ID.","description":"Retrieve a specific campus based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the campus."}],"responses":{"200":{"description":"Campus Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCampus"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/campuses/code/{code}":{"get":{"tags":["Campuses"],"summary":"Show a Campus by Code.","description":"Retrieve a specific campus based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the campus."}],"responses":{"200":{"description":"Campus Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCampus"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/countries":{"get":{"tags":["Countries"],"summary":"List Countries in a paginated format.","description":"Return a paginated list of countries.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of countries.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedCountry"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Countries"],"summary":"Create/Update/Restore Country.","description":"Store country information. Creates, updates, restores, a country based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a country."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."}],"responses":{"201":{"description":"Country Created. The country information has been stored and the country was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCountry"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Countries"],"summary":"Delete a Country.","description":"Delete a country based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for country. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a country. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/countries/{id}":{"get":{"tags":["Countries"],"summary":"Show a Country by ID.","description":"Retrieve a specific country based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the country."}],"responses":{"200":{"description":"Country Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCountry"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/countries/code/{code}":{"get":{"tags":["Countries"],"summary":"Show a Country by Code.","description":"Retrieve a specific country based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the country."}],"responses":{"200":{"description":"Country Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCountry"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/courses":{"get":{"tags":["Courses"],"summary":"List Courses in a paginated format.","description":"Return a paginated list of courses.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of courses.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedCourse"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Courses"],"summary":"Create/Update/Restore Course.","description":"Store course information. Creates, updates, restores, a course based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a course."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."},{"name":"course_level","in":"formData","required":true,"type":"integer","description":"The academic level of this course."},{"name":"department_id","in":"formData","required":false,"type":"integer","description":"The id of the parent department. This is required without the `department_code` attribute."},{"name":"department_code","in":"formData","required":false,"type":"string","description":"The unique code of the parent department. This is required without the `department_id` attribute."}],"responses":{"201":{"description":"Course Created. The course information has been stored and the course was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCourse"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Courses"],"summary":"Delete a Course.","description":"Delete a course based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for course. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a course. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/courses/{id}":{"get":{"tags":["Courses"],"summary":"Show a Course by ID.","description":"Retrieve a specific course based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the course."}],"responses":{"200":{"description":"Course Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCourse"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/courses/code/{code}":{"get":{"tags":["Courses"],"summary":"Show a Course by Code.","description":"Retrieve a specific course based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the course."}],"responses":{"200":{"description":"Course Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedCourse"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/departments":{"get":{"tags":["Departments"],"summary":"List Departments in a paginated format.","description":"Return a paginated list of departments.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of departments.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedDepartment"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Departments"],"summary":"Create/Update/Restore Department.","description":"Store department information. Creates, updates, restores, a department based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a department."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."},{"name":"academic","in":"formData","required":true,"type":"boolean","description":"Is the department academic? If so it can have courses."}],"responses":{"201":{"description":"Department Created. The department information has been stored and the department was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDepartment"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Departments"],"summary":"Delete a Department.","description":"Delete a department based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for department. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a department. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/departments/{id}":{"get":{"tags":["Departments"],"summary":"Show a Department by ID.","description":"Retrieve a specific department based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the department."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDepartment"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/departments/code/{code}":{"get":{"tags":["Departments"],"summary":"Show a Department by Code.","description":"Retrieve a specific department based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the department."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDepartment"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/duties":{"get":{"tags":["Duties"],"summary":"List Duties in a paginated format.","description":"Return a paginated list of duties.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of duties.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedDepartment"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Duties"],"summary":"Create/Update/Restore Duty.","description":"Store duty information. Creates, updates, restores, a duty based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a duty."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."}],"responses":{"201":{"description":"Duty Created. The duty information has been stored and the duty was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDuty"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Duties"],"summary":"Delete a Duty.","description":"Delete a duty based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for duty. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a duty. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/duties/{id}":{"get":{"tags":["Duties"],"summary":"Show a Duty by ID.","description":"Retrieve a specific duty based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the duty."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDepartment"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/duties/code/{code}":{"get":{"tags":["Duties"],"summary":"Show a Duty by Code.","description":"Retrieve a specific duty based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the duty."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedDuty"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails":{"get":{"tags":["Emails"],"summary":"List Emails in a paginated format.","description":"Return a paginated list of emails.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of emails.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Emails"],"summary":"Create/Update/Restore Email.","description":"Store email information. Creates, updates, restores, a email based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key of email owner. This is required without the `identifier` or `username` parameters."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier string of the email owner. This is required without the `account_id` or `username` parameters."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username string of the email owner. This is required without the `account_id` or `identifier` parameters."},{"name":"address","in":"formData","required":true,"type":"string","description":"The email address for this email object."},{"name":"verified","in":"formData","required":false,"default":false,"type":"boolean","description":"Determines if this email has been verified. By default it assumes the email has not been verified."}],"responses":{"201":{"description":"Email Created. The email information has been stored and the email was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedEmail"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Emails"],"summary":"Delete an Email.","description":"Delete a email based on `id` or `address`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for email. This is required without the `address` parameter."},{"name":"address","in":"formData","required":false,"type":"string","description":"The email address to delete. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/emails/{id}":{"get":{"tags":["Emails"],"summary":"Show an Email by ID.","description":"Retrieve a specific email based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the email."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedEmail"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/address/{address}":{"get":{"tags":["Emails"],"summary":"Show a Email by Address.","description":"Retrieve a specific email by it's email address.","produces":["application/json"],"parameters":[{"name":"address","in":"path","required":true,"type":"string","description":"The email address of the email object."}],"responses":{"200":{"description":"Email Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedEmail"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/account/{id}":{"get":{"tags":["Emails"],"summary":"Show all Email's owned by Account.","description":"Retrieve a lits of emails by it's owner's ID.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"id","in":"path","required":true,"type":"integer","description":"An account ID."}],"responses":{"200":{"description":"Email's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/identifier/{identifier}":{"get":{"tags":["Emails"],"summary":"Show all Email's owned by Account by Identifier.","description":"Retrieve a lits of emails by it's owner's Identifier.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"identifier","in":"path","required":true,"type":"string","description":"An account identifier."}],"responses":{"200":{"description":"Email's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/username/{username}":{"get":{"tags":["Emails"],"summary":"Show all Email's owned by Account by Username.","description":"Retrieve a lits of emails by it's owner's Username.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"username","in":"path","required":true,"type":"string","description":"An account username."}],"responses":{"200":{"description":"Email's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/verified":{"get":{"tags":["Emails"],"summary":"List of verified Emails in a paginated format.","description":"Return a paginated list of emails that have been verified.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of verified emails.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/emails/unverified":{"get":{"tags":["Emails"],"summary":"List of unverified Emails in a paginated format.","description":"Return a paginated list of emails that are not yet verified.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of unverified emails.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedEmail"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-carriers":{"get":{"tags":["Mobile Carriers"],"summary":"List MobileCarriers in a paginated format.","description":"Return a paginated list of mobile carriers.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of mobile carriers.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobileCarrier"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Mobile Carriers"],"summary":"Create/Update/Restore Mobile Carrier.","description":"Store mobile carrier information. Creates, updates, restores, a mobile carrier based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a mobile carrier."},{"name":"label","in":"formData","required":true,"type":"string","description":"A human readable label."}],"responses":{"201":{"description":"Mobile Carrier Created. The mobile carrier information has been stored and the mobile carrier was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedMobileCarrier"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Mobile Carriers"],"summary":"Delete a Mobile Carrier.","description":"Delete a mobile carrier based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for mobile carrier. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a mobile carrier. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/mobile-carriers/{id}":{"get":{"tags":["Mobile Carriers"],"summary":"Show a Mobile Carrier by ID.","description":"Retrieve a specific mobile carrier based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the mobile carrier."}],"responses":{"200":{"description":"Department Found","schema":{"properties":{"data":{"$ref":"#/definitions/transformedMobileCarrier"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-carriers/code/{code}":{"get":{"tags":["Mobile Carriers"],"summary":"Show a Mobile Carrier by Code.","description":"Retrieve a specific mobile carrier based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the mobile carrier."}],"responses":{"200":{"description":"Mobile Carrier Found","schema":{"properties":{"data":{"$ref":"#/definitions/transformedMobileCarrier"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones":{"get":{"tags":["Mobile Phones"],"summary":"List Mobile Phones in a paginated format.","description":"Return a paginated list of mobile phones.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of mobile phones.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Mobile Phones"],"summary":"Create/Update/Restore Mobile Phone.","description":"Store mobile phone information. Creates, updates, restores, a mobile phone based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"account_id","in":"formData","required":false,"type":"integer","description":"Unique primary key of mobile phone owner. This is required without the `identifier` or `username` parameters."},{"name":"identifier","in":"formData","required":false,"type":"string","description":"Unique identifier string of the mobile phone owner. This is required without the `account_id` or `username` parameters."},{"name":"username","in":"formData","required":false,"type":"string","description":"Unique username string of the mobile phone owner. This is required without the `account_id` or `identifier` parameters."},{"name":"number","in":"formData","required":true,"type":"string","description":"The mobile phone number for this mobile phone object."},{"name":"country_code","in":"formData","required":false,"type":"string","description":"The mobile phone country code for this mobile phone object."},{"name":"mobile_carrier_id","in":"formData","required":false,"type":"integer","description":"The mobile caerier ID that this phone belongs to. This is required without the `mobile_carrier_code` parameter."},{"name":"mobile_carrier_code","in":"formData","required":false,"type":"integer","description":"The mobile caerier Code that this phone belongs to. This is required without the `mobile_carrier_id` parameter."},{"name":"verified","in":"formData","required":false,"default":false,"type":"boolean","description":"Determines if this mobile phone has been verified. By default it assumes the mobile phone has not been verified."}],"responses":{"201":{"description":"Mobile Phone Created. The mobile phone information has been stored and the mobile phone was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedMobilePhone"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Mobile Phones"],"summary":"Delete an Mobile Phone.","description":"Delete a mobile phone based on `id` or `address`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for mobile phone. This is required without the `address` parameter."},{"name":"address","in":"formData","required":false,"type":"string","description":"The mobile phone address to delete. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/{id}":{"get":{"tags":["Mobile Phones"],"summary":"Show an Mobile Phone by ID.","description":"Retrieve a specific mobile phone based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the mobile phone."}],"responses":{"200":{"description":"Department Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedMobilePhone"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/account/{id}":{"get":{"tags":["Mobile Phones"],"summary":"Show all Mobile Phone's owned by Account.","description":"Retrieve a lits of mobile phones by it's owner's ID.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"id","in":"path","required":true,"type":"integer","description":"An account ID."}],"responses":{"200":{"description":"Mobile Phone's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/identifier/{identifier}":{"get":{"tags":["Mobile Phones"],"summary":"Show all Mobile Phone's owned by Account by Identifier.","description":"Retrieve a lits of mobile phones by it's owner's Identifier.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"identifier","in":"path","required":true,"type":"string","description":"An account identifier."}],"responses":{"200":{"description":"Mobile Phone's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/username/{username}":{"get":{"tags":["Mobile Phones"],"summary":"Show all Mobile Phone's owned by Account by Username.","description":"Retrieve a lits of mobile phones by it's owner's Username.","produces":["application/json"],"parameters":[{"$ref":"#/parameters/pages"},{"name":"username","in":"path","required":true,"type":"string","description":"An account username."}],"responses":{"200":{"description":"Mobile Phone's Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/verified":{"get":{"tags":["Mobile Phones"],"summary":"List of verified Mobile Phones in a paginated format.","description":"Return a paginated list of mobile phones that have been verified.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of verified mobile phones.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/unverified":{"get":{"tags":["Mobile Phones"],"summary":"List of unverified Mobile Phones in a paginated format.","description":"Return a paginated list of mobile phones that are not yet verified.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of unverified mobile phones.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/mobile-carrier/id/{id}":{"get":{"tags":["Mobile Phones"],"summary":"List of Mobile Phones by Mobile Carrier ID.","description":"Return a paginated list of mobile phones that are associated with the mobile carrier id.","parameters":[{"$ref":"#/parameters/pages"},{"name":"id","in":"path","required":true,"type":"string","description":"A Mobile Carrier's ID."}],"produces":["application/json"],"responses":{"200":{"description":"List of Mobile Phones.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/mobile-phones/mobile-carrier/code/{code}":{"get":{"tags":["Mobile Phones"],"summary":"List of Mobile Phones by Mobile Carrier Code.","description":"Return a paginated list of mobile phones that are associated with the mobile carrier code.","parameters":[{"$ref":"#/parameters/pages"},{"name":"code","in":"path","required":true,"type":"string","description":"A Mobile Carrier's Code."}],"produces":["application/json"],"responses":{"200":{"description":"List of Mobile Phones.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedMobilePhone"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/rooms":{"get":{"tags":["Rooms"],"summary":"List Rooms in a paginated format.","description":"Return a paginated list of rooms.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of rooms.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedRoom"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["Rooms"],"summary":"Create/Update/Restore Room.","description":"Store room information. Creates, updates, restores, a room based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"building_id","in":"formData","required":false,"type":"integer","description":"The id of a building that this rooms resides in. This is required without the `building_code` parameter."},{"name":"building_code","in":"formData","required":false,"type":"string","description":"The code of a building that this rooms resides in. This is required without the `building_id` parameter."},{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a room."},{"name":"floor_number","in":"formData","required":false,"type":"integer","description":"The floor number that this room is on."},{"name":"floor_label","in":"formData","required":false,"type":"string","description":"A label assigned to the floor that this room is on."},{"name":"room_number","in":"formData","required":true,"type":"integer","description":"The number assigned to this room."},{"name":"room_label","in":"formData","required":false,"type":"string","description":"A label assigned to this room."}],"responses":{"201":{"description":"Room Created. The room information has been stored and the room was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedRoom"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["Rooms"],"summary":"Delete a Room.","description":"Delete a room based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for room. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a room. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/rooms/{id}":{"get":{"tags":["Rooms"],"summary":"Show a Room by ID.","description":"Retrieve a specific room based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the room."}],"responses":{"200":{"description":"Room Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedRoom"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/rooms/code/{code}":{"get":{"tags":["Rooms"],"summary":"Show a Room by Code.","description":"Retrieve a specific room based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the room."}],"responses":{"200":{"description":"Room Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedRoom"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/states":{"get":{"tags":["States"],"summary":"List States in a paginated format.","description":"Return a paginated list of states.","parameters":[{"$ref":"#/parameters/pages"}],"produces":["application/json"],"responses":{"200":{"description":"A list of states.","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/transformedState"}},"meta":{"$ref":"#/definitions/meta"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}},"post":{"tags":["States"],"summary":"Create/Update/Restore State.","description":"Store state information. Creates, updates, restores, a state based on it's current status.","produces":["application/json"],"consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"country_id","in":"formData","required":false,"type":"integer","description":"The id of a country that this states resides in. This is required without the `country_code` parameter."},{"name":"country_code","in":"formData","required":false,"type":"string","description":"The code of a country that this states resides in. This is required without the `country_id` parameter."},{"name":"code","in":"formData","required":true,"type":"string","description":"Unique code that identifies a state."},{"name":"label","in":"formData","required":false,"type":"string","description":"A label assigned to this state."}],"responses":{"201":{"description":"State Created. The state information has been stored and the state was either created, updated, or restored based on the information that was provided.","headers":{"location":{"description":"A URL to the new object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedState"}}}},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}},"delete":{"tags":["States"],"summary":"Delete a State.","description":"Delete a state based on `id` or `code`. At least one of those parameters must be supplied.","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"id","in":"formData","required":false,"type":"integer","description":"Unique primary key for state. This is required without the `code` parameter."},{"name":"code","in":"formData","required":false,"type":"string","description":"Unique code that identifies a state. This is required without the `id` parameter."}],"responses":{"204":{"$ref":"#/responses/204"},"401":{"$ref":"#/responses/401"},"422":{"$ref":"#/responses/422"},"429":{"$ref":"#/responses/429"}}}},"/states/{id}":{"get":{"tags":["States"],"summary":"Show a State by ID.","description":"Retrieve a specific state based on it's primary key id value.","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"Unique primary key for the state."}],"responses":{"200":{"description":"State Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedState"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}},"/states/code/{code}":{"get":{"tags":["States"],"summary":"Show a State by Code.","description":"Retrieve a specific state based on it's code value.","produces":["application/json"],"parameters":[{"name":"code","in":"path","required":true,"type":"string","description":"Unique code value for the state."}],"responses":{"200":{"description":"State Found","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"properties":{"data":{"$ref":"#/definitions/transformedState"}}}},"401":{"$ref":"#/responses/401"},"429":{"$ref":"#/responses/429"}}}}},"parameters":{"pages":{"name":"page","type":"integer","required":false,"in":"query","default":1,"description":"Determines the page of results to return."},"limit":{"name":"limit","type":"integer","required":false,"in":"query","default":50,"description":"Determines the max ammount of results to return."}},"responses":{"204":{"description":"Deleted/Detached","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"examples":{"No Content":null}},"401":{"description":"Unauthorized","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"422":{"description":"Unable to Process","schema":{"$ref":"#/definitions/error"}},"429":{"description":"Too Many Requests","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"201_assigned":{"description":"Assigned","headers":{"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}}},"202_verified":{"description":"Resource Verified","headers":{"location":{"description":"URL to the verified object.","type":"string"},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","type":"integer"},"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","type":"integer"},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","type":"integer"}},"schema":{"type":"object","properties":{"id":{"type":"integer"},"type":{"type":"string"},"message":{"type":"string"}}}}},"definitions":{"Account":{"type":"object","required":["identifier","username","name_first","name_last","primary_duty"],"properties":{"identifier":{"type":"string"},"username":{"type":"string"},"name_prefix":{"type":"string"},"name_first":{"type":"string"},"name_middle":{"type":"string"},"name_last":{"type":"string"},"name_postfix":{"type":"string"},"name_phonetic":{"type":"string"},"primary_duty":{"type":"integer"},"ssn":{"type":"string"},"password":{"type":"string"},"birth_date":{"type":"string"}}},"Address":{"type":"object","required":["account_id","addressee","line_1","city","state_id","zip","country_id"],"properties":{"account_id":{"type":"integer"},"addressee":{"type":"string"},"organization":{"type":"string"},"line_1":{"type":"string"},"line_2":{"type":"string"},"city":{"type":"string"},"state_id":{"type":"integer"},"zip":{"type":"string"},"country_id":{"type":"integer"},"latitude":{"type":"number","format":"float"},"longitude":{"type":"number","format":"float"}}},"Building":{"type":"object","required":["campus_id","code","label"],"properties":{"campus_id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"}}},"Campus":{"type":"object","required":["code","label"],"properties":{"code":{"type":"string"},"label":{"type":"string"}}},"Country":{"type":"object","required":["code","label","abbreviation"],"properties":{"code":{"type":"string"},"label":{"type":"string"},"abbreviation":{"type":"string"}}},"Course":{"type":"object","required":["department_id","course_level","code","label"],"properties":{"department_id":{"type":"integer"},"course_level":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"}}},"Department":{"type":"object","required":["academic","code","label"],"properties":{"academic":{"type":"boolean","format":"int32"},"code":{"type":"string"},"label":{"type":"string"}}},"Duty":{"type":"object","required":["code","label"],"properties":{"code":{"type":"string"},"label":{"type":"string"}}},"Email":{"type":"object","required":["account_id","address"],"properties":{"account_id":{"type":"integer"},"address":{"type":"string"},"verified":{"type":"boolean","format":"int32"},"verification_token":{"type":"string"}}},"MobileCarrier":{"type":"object","required":["code","label"],"properties":{"code":{"type":"string"},"label":{"type":"string"}}},"MobilePhone":{"type":"object","required":["account_id","number","mobile_carrier_id"],"properties":{"account_id":{"type":"integer"},"number":{"type":"string"},"country_code":{"type":"string"},"mobile_carrier_id":{"type":"integer"},"verified":{"type":"boolean","format":"int32"},"verification_token":{"type":"string"}}},"Room":{"type":"object","required":["code","building_id","room_number"],"properties":{"code":{"type":"string"},"building_id":{"type":"integer"},"floor_number":{"type":"integer"},"floor_label":{"type":"string"},"room_number":{"type":"integer"},"room_label":{"type":"string"}}},"State":{"type":"object","required":["country_id","code","label"],"properties":{"country_id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"}}},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"total":{"type":"integer"},"count":{"type":"integer"},"per_page":{"type":"integer"},"current_page":{"type":"integer"},"total_pages":{"type":"integer"},"links":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"}}}}}}},"error":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"array","items":{"type":"string"}},"status_code":{"type":"integer"},"debug":{"type":"object","properties":{"line":{"type":"integer"},"file":{"type":"string"},"class":{"type":"string"},"trace":{"type":"array","items":{"type":"string"}}}}}},"transformedDepartment":{"type":"object","properties":{"id":{"type":"integer"},"academic":{"type":"boolean"},"code":{"type":"string"},"label":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"}}},"transformedCourse":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"},"department":{"$ref":"#/definitions/transformedDepartment"}}},"transformedCampus":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"}}},"transformedBuilding":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"},"campus":{"$ref":"#/definitions/transformedCampus"}}},"transformedRoom":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"floor_number":{"type":"integer"},"floor_label":{"type":"string"},"room_number":{"type":"integer"},"room_label":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"},"building":{"$ref":"#/definitions/transformedBuilding"}}},"transformedCountry":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"},"abbreviation":{"type":"string"},"updated":{"type":"string"},"created":{"type":"string"}}},"transformedState":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"label":{"type":"string"},"country":{"$ref":"#/definitions/transformedCountry"},"updated":{"type":"string"},"created":{"type":"string"}}},"transformedAddress":{"type":"object","properties":{"id":{"type":"integer"},"account_id":{"type":"integer"},"addressee":{"type":"string"},"organization":{"type":"string"},"line_1":{"type":"string"},"line_2":{"type":"string"},"city":{"type":"string"},"state":{"$ref":"#/definitions/transformedState"},"zip":{"type":"string"},"country":{"$ref":"#/definitions/transformedCountry"},"latitude":{"type":"number","format":"float"},"longitude":{"type":"number","format":"float"},"updated":{"type":"string"},"created":{"type":"string"}
[...]
