* text=auto
*.css linguist-vendored
*.scss linguist-vendored
logo/ORM-Logo.png filter=lfs diff=lfs merge=lfs -text
logo/ORM-Logo.psd filter=lfs diff=lfs merge=lfs -text
logo/ORM-Logo.jpg filter=lfs diff=lfs merge=lfs -text
